/*Item container*/
.item-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
}

/*Item container*/
.item-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Item container*/
.item-container > div > h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}

/*Item container*/
.item-container > div > p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}
/*Item container*/
.item-container > div > p:first-of-type {
  font-weight: bold;
}
/*Item container*/
.item-container > div > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 20px;
}

.item-container > div > .stock {
  margin-top: 20px;
}

.item-container > div > .description {
  margin-top: 20px;
}