
/* Cart widget */
.cart-widget {
    position: static;
    cursor: pointer;
    text-align: right;;
  }

  /* qty-display */
  .qty-display {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    text-align: center;
    line-height: 17px;
    color: black;
  }