/*form-container*/
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130vh;
}
/*table-container*/
.table-container {
  max-height: 400px;
  overflow-y: auto;
}
/*h2-container*/
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
/*form-container*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
/*form-group*/
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
/*back-to-cart-btn*/
.back-to-cart-btn {
  background-color: #f7f7f7;
  border: 2px solid #ddd;
  color: #555;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/*back-to-cart-btn:hover*/
.back-to-cart-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
  color: #333;
}
/*label*/
label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/*input,textarea*/
input,
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
  width: 100%;
}
/*button[type="submit"]*/
button[type="submit"] {
  background-color: #005bbb;
  color: #ffffff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #003d6b;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td img {
  max-width: 100px;
  max-height: 100px;
}