.cart-widget {
    position: static;
    cursor: pointer;
    text-align: right;;
  }

  .qty-display {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 17px;
  }