*{
    font-family: 'Poppins', sans-serif;
}

.app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
    background-color: #F3F3F3;
    font-family: "Neue-Helvetica","Helvetica","Arial","sans-serif";
}

.page-header{
    width: 100%;
}